src/js/core/trimmings.txt
dist
node_modules/.bin
node_modules/angular
node_modules/angular-bootstrap
node_modules/angular-sanitize
node_modules/angular-ui-router
node_modules/browserify
node_modules/connect
node_modules/connect-modrewrite
node_modules/connect-redirection
node_modules/dice-coefficient
node_modules/extend
node_modules/gulp
node_modules/gulp-minify-css
node_modules/gulp-uglify
node_modules/serve-static
node_modules/vinyl-buffer
node_modules/vinyl-source-stream
