<div class="row">
  <div class="page-header col-sm-12">
    <h1>{{ selected.info.name }}
      <small>
        {{selected.info.country}} {{ selected.info.cartridge }} {{ selected.info.type.toLowerCase() }}&nbsp;
        <span ng-if="variants" class="dropdown">
          <a href class="text-muted" dropdown-toggle>
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="item in variants | orderBy:info.alias"><a href ng-click="selectVariant($index)">{{item.info.alias}} <i ng-show="selected == variants[$index]" class="pull-right fa fa-check"></i></a></li>
          </ul>
        </span>
      </small>
      <span class="pull-right">
        <a ng-if="selected.info.wiki" ng-href="{{selected.info.wiki}}">
          <small class="fa-stack fa-sm">
            <i class="text-muted fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-wikipedia fa-stack-1x fa-inverse"></i>
          </small>
        </a>
        <a ui-sref="index">
          <small class="fa-stack fa-sm">
            <i class="text-muted fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-home fa-stack-1x fa-inverse"></i>
          </small>
        </a>
        <a ui-sref="docs">
          <small class="fa-stack fa-sm">
            <i class="text-muted fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-book fa-stack-1x fa-inverse"></i>
          </small>
        </a>
      </span>
    </h1>
  </div>
</div>
  <div class="row">
    <div class="col-sm-3">
      <accordion close-others="true">
        <accordion-group ng-repeat="group in selected.stats" heading="{{group.name}}">
          <ul class="list-unstyled">
            <li ng-repeat="item in group.values">
              <p><strong>{{item.name}}</strong>: {{item.value}}</p>
            </li>
          </ul>
        </accordion-group>
        <accordion-group ng-if="similar.length > 0" heading="Similar weapons">
          <ul class="media-list">
            <li class="media" ng-repeat="selected in similar">
              <a class="media-left" href="#">
                <div class="crop-thumbnail">
                  <img ng-src="{{selected.img ? selected.img : baseURL + 'img/placeholder.gif'}}" alt="{{selected.name}}">
                </div>
              </a>
              <div class="media-body">
                <h4><a ng-href="{{selected.href}}">{{selected.name}}</a></h4>
                <span class="text-muted">{{selected.similarity}}% match</span>
              </div>
            </li>
          </ul>
        </accordion-group>
      </accordion>
    </div>
    <div class="col-sm-9">
      <div class="thumbnail">
        <div class="img-block">
          <div class="img-vertical-align">
            <img class="img-responsive centered" ng-src="{{ selected.info.img ? selected.info.img : baseURL + 'img/placeholder-large.gif' }}" alt="{{selected.info.name}}">
          </div>
        </div>
        <div ng-if="selected.info.description" class="caption">
          <br />
          <p><span ng-bind-html="selected.info.description"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
